<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <title>黑马面面</title>
    <meta name="description" content="黑马面面">
    <meta name="keywords" content="黑马面面">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
    
    </style>
</head>

<body class="loginBg">
    <div id="app" class="mainBg">
        <div class="loginMain">
            <div class="logoInfo clear">
                <em class="logo"></em>
                <span class="logoFontZ">黑马面面</span>
                <span>用户登录</span>
            </div>
                <span v-html="form.info"></span>
                <div class="loginCon">
                <el-form ref="form" :model="form" :rules="rules" :show-message="false" status-icon>
                    <el-form-item prop="userName">
                        <el-input v-model="form.userName" placeholder="用户名"></el-input>
                    </el-form-item>
                    <el-form-item prop="pwd">
                        <el-input v-model="form.pwd" type="password" placeholder="密码"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">登录</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</body>
<!-- 引入组件库 -->
<script src="js/vue.js"></script>
<script src="js/element-ui.js"></script>
<script src="plugins/jquery/dist/jquery.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="js/base.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                form:{
                  mobile:'',
                  code:'',
                  checked:'',
                    info:''
                },
                rules: {
                    userName: [
                        { required: true, message: '请填写', trigger: 'blur' }
                    ],
                    pwd: [
                        { required: true, message: '请填写', trigger: 'blur' }
                    ]
                },
                mobileShow:false,
                codeShow:false
            }
        },
        created() {},
        methods: {
            onSubmit(){
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        var formData = {
                          username: this.form.userName,
                          password: this.form.pwd
                        };

                        //当前页面的访问路径：http://localhost:8080/mm/login.html
                        //目标资源的访问路径：http://localhost:8080/mm/user/login.do
                        //发异步请求到服务端，把formData传参过去进行登录校验。得到校验结果
                        axios.post("./user/login.do", formData)
                            .then(response=>{
                                //如果登录成功了，跳转到后台管理的首页
                                //console.log(response);
                                if (response.data.flag) {
                                    //把用户名保存到sessionStorage里，然后跳转到首页
                                    sessionStorage.setItem("userName", this.form.userName);
                                    window.location.href = "pages/index.html";
                                }else{
                                    //登录失败，提示错误信息
                                    this.$message.error(response.data.message);
                                }
                            });
                    }
                });
            }
        }
    });
    $("#app").height($(window).height());
</script>
</html>
