<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黑马面面</title>
    <meta name="description" content="黑马面面">
    <meta name="keywords" content="黑马面面">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/element-ui.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="hold-transition">
<div id="app">
    <div class="app-container">
        <div class="box common-table-border" style="margin-top: 15px;min-height: calc(100vh - 55px);">
            <h2 class="titleInfo"><span>试题预览</span></h2>
            <div class="content">
                <ul class="contentList clear">
                    <li><label>【题库】：</label>{{ is_classic === 0 ? '基础题库' : '精选题库' }}</li>
                    <li><label>【编号】：</label>{{ formData.number }}</li>
                    <li><label>【学科】：</label>{{ formData.catalog.courseName }}</li>
                    <li><label>【题型】：</label>{{ typeTransform }}</li>
                    <li><label>【难度】：</label>{{ difficultyTransform }}</li>
                    <li><label>【标签】：</label>{{ formData.tagNameList.join('，') }}</li>
                    <li><label>【目录】：</label>{{ formData.catalog.name }}</li>
                    <li><label>【企业】：</label>{{ formData.company.industryNameList.join('，') }}</li>
                    <li><label>【城市】：</label>{{ formData.company.city }}</li>
                </ul>
            </div>
            <div class="content">
                <p>【题干】：</p>
                <div class="info">
                    <p class="fontBlue" v-html="formData.subject"></p>
                </div>
            </div>
            <div class="content" v-if="formData.type === 1">
                <p>【单选题选项】：（以下选中的选项为正确答案）</p>
                <p v-for="(item, index) in formData.questionItemList" class="info">
                    <el-radio v-model="rightRadio" :label="item.isRight" disabled>{{ baseData.selectData[index].value +
                        ':' }}
                    </el-radio>
                    <template v-if="item.content">
                        {{ item.content }}
                    </template>
                    <template v-else>
                        <img :src="appPath + '/' + item.imgUrl" class="avatar">
                    </template>
                </p>
            </div>
            <div class="content" v-else-if="formData.type === 2">
                <p>【多选题选项】：（以下选中的选项为正确答案）</p>
                <p v-for="(item, index) in formData.questionItemList" class="info">
                    <el-checkbox v-model="item.isRight" disabled>{{ baseData.selectData[index].value + ':' }}
                    </el-checkbox>
                    <template v-if="item.content">
                        {{ item.content }}
                    </template>
                    <template v-else>
                        <img :src="appPath + '/' + item.imgUrl" class="avatar">
                    </template>
                </p>
            </div>
            <div class="content" v-else>
                <p>【简答题解析】：</p>
                <p v-html="formData.analysis" class="info"></p>
            </div>
            <div class="content">
                <p>【题目备注】：</p>
                <p v-html="formData.remark" class="info"></p>
            </div>
            <div class="submitInfo" v-if="is_examine === 1 ? true : false">
                <el-button type="primary" @click="reviewItem(1)">审核通过</el-button>
                <el-button @click="reviewItem(2)">审核不通过</el-button>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../js/element-ui.js"></script>
<script src="../js/base.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                appPath: app_path,
                baseData: base,
                is_classic: 0,
                is_examine: 0,
                rightRadio: true,
                questionId: 0,
                // 初始化表单
                formData: {
                    // 编号
                    number: '',
                    // 目录
                    catalog: {
                        // 学科
                        courseName: '',
                        // 目录
                        name: ''
                    },
                    // 题型
                    type: 0,
                    // 难度
                    difficulty: 0,
                    // 标签
                    tagNameList: [],
                    // 企业
                    company: {
                        // 方向
                        industryNameList: [],
                        // 城市
                        city: ''
                    },
                    // 题干
                    subject: '',
                    // 选项
                    questionItemList: [],
                    // 解析
                    analysis: '',
                    // 备注
                    remark: ''
                },
            }
        },
        mounted() {
            this.questionId = parseInt(this.getUrlParam("questionId"), 10);
            this.is_classic = parseInt(this.getUrlParam("is_classic"), 10);
            this.is_examine = parseInt(this.getUrlParam("is_examine"), 10);
            this.initForm();
        },
        computed: {
            typeTransform: function () {
                let type = this.formData.type;
                let item = this.baseData.questionsType.find(val => {
                    return val.id === type;
                });
                if (!item) {
                    return '';
                }
                return item.value;
            },
            difficultyTransform: function () {
                let difficulty = this.formData.difficulty;
                let item = this.baseData.difficulty.find(val => {
                    return val.id === difficulty;
                });
                if (!item) {
                    return '';
                }
                return item.value;
            }
        },
        methods: {
            //获取url参数
            getUrlParam(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            //初始化表单
            initForm() {
                // 发送请求
                let response = {
                    data:{
                        "flag": true,
                        "message": "获取成功",
                        "result": {
                            "analysis": "<p>图片选择</p>",
                            "analysisVideo": "",
                            "answerIsRight": false,
                            "catalog": {
                                "courseId": 1,
                                "courseName": "Java",
                                "createDate": "2019-08-08 00:00:00.0",
                                "id": 1,
                                "name": "Java基础",
                                "status": 0,
                                "userId": 1
                            },
                            "catalogId": 1,
                            "company": {
                                "city": "北京",
                                "id": 1,
                                "industryList": [
                                    {
                                        "id": 1,
                                        "name": "电商平台"
                                    },
                                    {
                                        "id": 2,
                                        "name": "金融服务"
                                    },
                                    {
                                        "id": 18,
                                        "name": "软件外包"
                                    },
                                    {
                                        "id": 26,
                                        "name": "新增方向5"
                                    },
                                    {
                                        "id": 27,
                                        "name": "新增方向6"
                                    }
                                ],
                                "industryNameList": [
                                    "电商平台",
                                    "金融服务",
                                    "软件外包",
                                    "新增方向5",
                                    "新增方向6"
                                ],
                                "shortName": "北京淘宝网"
                            },
                            "companyId": 1,
                            "createDate": "2019-08-22 10:52:49.0",
                            "difficulty": 1,
                            "id": 654,
                            "isFamous": false,
                            "isFavorite": false,
                            "isFinished": false,
                            "number": "",
                            "questionItemList": [
                                {
                                    "content": "a",
                                    "id": 72,
                                    "imgUrl": "",
                                    "isRight": true
                                },
                                {
                                    "content": "b",
                                    "id": 73,
                                    "imgUrl": "",
                                    "isRight": false
                                },
                                {
                                    "content": "c",
                                    "id": 74,
                                    "imgUrl": "",
                                    "isRight": false
                                },
                                {
                                    "content": "d",
                                    "id": 75,
                                    "imgUrl": "",
                                    "isRight": false
                                }
                            ],
                            "remark": "图片选择",
                            "reviewStatus": 0,
                            "status": 0,
                            "subject": "<p>图片选择</p>",
                            "tagList": [
                                {
                                    "id": 1,
                                    "name": "String字符串"
                                },
                                {
                                    "id": 2,
                                    "name": "Java类与对象"
                                }
                            ],
                            "tagNameList": [
                                "String字符串",
                                "Java类与对象"
                            ],
                            "type": 1,
                            "userId": 1
                        }
                    }
                }
                this.formData = response.data.result;
            },
            // 审核试题
            reviewItem(status) {
                let t = this;

                // 必传参数
                let params = {
                    //审核的题目id。我们这里是模拟审核过程，写死一个question的id
                    questionId: 666,
                    //questionId: this.questionId,
                    //审核的结果状态
                    status: status,
                    //审核的备注说明
                    comments: ''
                };

                //发异步请求到服务端，审核题目
                axios.post("../review/reviewQuestion.do", params)
                    .then(response=>{
                        //字符串：当前用户权限不足，请切换用户
                        //json对象：{"flag":true, "message":"审核操作完成"}
                        console.log(response.data);

                        if (response.data.flag) {
                            this.$message.success("审核操作完成");
                            setTimeout(function(){
                                window.location.href = "questionClassicList.html";
                            }, 1000);
                        }else if(response.data.message){
                            //js的if判断：0, "", null, undefined是false
                            this.$message.error(response.data.message);
                        }else{
                            this.$message.error(response.data);
                        }
                    });
            }
        }
    })
</script>
</html>
